@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: "Raleway";
}

html,h1,h2,h3,h4,h5,h6,a {
    font-family: "Raleway";
}

.navbar { 
    background:#1E2433; 
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar-nav {
   color: #fff;
   font-weight: 400;

}

.nav-link , .navbar-brand { 
    color: #f4f4f4ee;
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link:hover , .navbar-brand:hover {
    color: #fff;
}

.top {
    padding-top: 10rem;
    height: 57rem;
    
}

.para {
    background-image: url('../images/header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 500px;

  
}

.about {
  padding: 2rem;
  height: 35rem;
}
.about-title {
  color: #333;
  margin-bottom: 20px;

}
.about img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin-top: 1rem;
    padding: 0 28px;
    background: #9b59b6;
    background: rgba(155, 89, 182, 0.7);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #9b59b6;
    background: rgba(155, 89, 182, 0.9);
    outline: 0;
    color: #fff;
    box-shadow: none;
}

.portfolio {
    background: #f4f4f4;
    padding: 2rem;
    height: 35rem;
}

.portfolio-title {
    color: #333;
    margin-bottom: 20px;
}

.contact {
    padding: 2rem;
    height: 35rem;
    background: #fff;
}
.footer {
    padding: 2rem;
    height: 10rem;
    background: #202020;
    color: #fff;
}

@media only screen and (max-device-width: 1366px) {
    .para {
        background-attachment: scroll;
    }
}