@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: "Raleway";
}

html,h1,h2,h3,h4,h5,h6,a {
    font-family: "Raleway";
}

.navbar { 
    background:#1E2433; 
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar-nav {
   color: #fff;
   font-weight: 400;

}

.nav-link , .navbar-brand { 
    color: #f4f4f4ee;
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link:hover , .navbar-brand:hover {
    color: #fff;
}

.header {
    background-image: url('../images/header.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

.description{
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
    
}

.bs-linebreak {
    margin-top: 10%;
}